.first-screen
	max-height: 1070px
	position: relative
	overflow: hidden
	padding-top: rem(43px)
	padding-bottom: rem(63px)
	&__bg
		position: absolute
		left: -3%
		top: -3%
		right: -3%
		bottom: -3%
		filter: blur(8px)
		background: rgba(40, 36, 22, 0.01)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			background: rgba(#000, .25)
.first-screen__content
	position: relative
	ul
		margin: 0
		padding: 0
		li
			list-style-type: none
	.btn
		color: #fff
	.pfoto-author
		display: flex
		align-items: center
		margin-bottom: 0
		img
			margin-right: rem(10px)
			margin-bottom: 0
			width: rem(54px)
			height: rem(54px)
	.author__name
		font-size: rem(30px)
	.action-row
		margin-bottom: rem(40px)
.action-row
	display: flex
.first-screen__photo-action
	display: flex
	align-items: center
	margin-left: auto
	ul
		display: flex
		align-items: center
	li
		margin-right: rem(20px)
		&:last-child
			margin-right: 0
.photo-row
	position: relative
	box-shadow: 0px 4px 100px #000000
	border-radius: 8px
	overflow: hidden
	line-height: 0
	margin-bottom: rem(40px)
	img
		line-height: 0
	.photo-maxsize
		position: absolute
		right: 10%
		bottom: 5%
		.icon
			color: #fff
			font-size: rem(25px)
			transition: transform .1s ease
		&:hover
			.icon
				transform: scale(1.2)
.tags-row
	text-align: center
	h4
		margin: 0
		margin-bottom: rem(20px)
		color: #ffffff
		font-size: rem(29px)
		font-weight: 500
	ul
		display: flex
		align-items: center
		justify-content: center
		li
			margin-right: rem(20px)
			&:last-child
				margin-right: 0
			a
				background-color: #fff
				border-radius: rem(8px)
				color: #828282
				font-size: rem(18px)
				display: inline-block
				padding: rem(5px) rem(10px)
				text-decoration: none
				transition: all .2s ease
				&:hover
					background: #828282
					color: #fff
.title-area
	display: flex
	justify-content: space-between
	align-items: center
	padding: rem(80px) 0 rem(18px) 0
	h3
		margin: 0
		color: #000000
		font-size: rem(36px)
		font-weight: 500
	a
		font-size: rem(14px)

		color: #828282
		text-decoration: underline
		&:hover
			text-decoration: none