<header class="header">
	<div class="container">
		<div class="row row-center">

			<div class="col col-md-10">

				<div class="logo-block">
					<a href="/" class="logo">
						<picture>
							<source srcset="/assets/img/logo-mobile.svg" media="(max-width: 768px)">
							<source srcset="/assets/img/logo.svg">
							<img src="/assets/img/logo.png" alt="ImageStock" title="ImageStock">
						</picture>
					</a>
				</div>

				<ul class="action-block">
					<!-- <li>
						<button class="action-block__elem">
							<svg class="icon icon-search">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#search"></use>
							</svg>
							<span>Поиск</span>
						</button>
					</li> -->
					<li>
						<a href="#" class="action-block__elem">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
							<span>Избранное</span>
						</a>
					</li>
					<li>
						<button class="action-block__elem">
							<svg class="icon icon-history">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#history"></use>
							</svg>
							<span>
								История поиска
							</span>
						</button>
					</li>
				</ul>

			</div>

		</div>
	</div>
</header>

<div class="header-action__block">
	<div class="container">
		<div class="row row-center">
			<div class="col col-md-8">
				<div class="header-search">
					<form class="header-search__form">
						<input type="text" class="header-search__input" placeholder="Поиск">
					</form>
				</div>
				<div class="search-history">
					<ul>
						<li>
							Wallpapers
						</li>
						<li>
							Textures & Patterns
						</li>
						<li>
							Nature
						</li>
						<li>
							Current Events
						</li>
						<li>
							Architecture
						</li>
						<li>
							Business & Work
						</li>
						<li>
							Film
						</li>
						<li>
							Animals
						</li>
						<li>
							Travel
						</li>
						<li>
							Fashion
						</li>
						<li>
							Food & Drink
						</li>
						<li>
							Spirituality
						</li>
						<li>
							Experimental
						</li>
						<li>
							People
						</li>
						<li>
							Health
						</li>
						<li>
							Arts & Culture
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>