<div class="photos-wrapper grid--table">

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-1.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-1.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-1.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo-2.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-4.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-4.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-4.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-7.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-7.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-7.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-10.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-10.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-10.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-13.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-13.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-13.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-16.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-16.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-16.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>
	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-19.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-19.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-19.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>


	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-2.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-2.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-2.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-5.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-5.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-5.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-8.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-8.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-8.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-11.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-11.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-11.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-14.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-14.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-14.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-17.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-17.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-17.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-20.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-20.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-20.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-3.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-3.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-3.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-6.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-6.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-6.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-9.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-9.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-9.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-12.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-12.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-12.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-15.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-15.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-15.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-18.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-18.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-18.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

	<figure class="photos-cart">
		<a class="photo__link" href="photo.html"></a>
		<img class="main-photos" src="/assets/img/photos/Rectangle-21.jpg" alt="">
		<figcaption>
			<a href="https://unsplash.com" target="_blank" class="photo-author">
				<img src="/assets/img/avatars/avatar.jpg" alt="Vadim Sadovski @vadimsadovski" class="author__avatar">
				<div class="author__info">
					<span class="author__name">Vadim Sadovski</span>
					<span class="author__yusername">@vadimsadovski</span>
				</div>
			</a>
			<div class="photo__action">
				<ul>
					<li>
						<button type="button">
							<svg class="icon icon-favorite">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#favorite"></use>
							</svg>
						</button>
					</li>
					<li>
						<a class="photo-maxsize" href="/assets/img/photos/big/Rectangle-21.jpg">
							<svg class="icon icon-maximize">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#maximize"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/assets/img/photos/big/Rectangle-21.jpg" download>
							<svg class="icon icon-download">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#download"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</figcaption>
	</figure>

</div>